.page1{
background-color:grey
}
.page2{
    background-color: cornsilk;
}
.page3{
    background-color: fuchsia;
}
.page4{
    background-color: darksalmon;
}
.page6{
    background-color: darkseagreen;
}